<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.inseoul">
    <!-- CAMERA || GALLERY PERMISSION -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_inseoul"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_inseoul_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".manage_member.SignUpActivity">
        </activity>
        <activity android:name=".manage_member.SignInActivity">
        </activity>
        <activity android:name=".SearchDetails.SearchDetail">
        </activity>
        <activity android:name=".search.SearchDetails">
        </activity>
        <activity android:name=".register_review.register_review">
        </activity>
        <activity android:name=".regist_review.review">
        </activity>
        <activity android:name=".manage_schedules.my_schedule">
        </activity>
        <activity android:name=".timeline.TimeLineActivity">
        </activity>
        <activity android:name=".make_plan.AddPlaceActivity">
        </activity>
        <activity android:name=".search.SearchActivity">
        </activity>
        <activity android:name=".make_plan.MakePlanActivity">
        </activity>

        <meta-data
                android:name="com.naver.maps.map.CLIENT_ID"
                android:value="jqxe84nuvy"/>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>